@page "/counter"
@using VaiVaiPharmacyModelClass
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>
<NavMenu />
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    protected override void OnInitialized()
    {
        var ss = navigationManager.Uri;
    }

    private async Task IncrementCount()
    {
        // var data = await _operation.getAll<Company>();
        // var data1 = await _operation.getInfoById<Company>("ghi");
        // var data2 = await _operation.getInfoById<Company>("1", "id");
        MedicineDetails med = new MedicineDetails();
        med.id = 2;
        med.medicineName = "test 02";
        med.companyName = "abc";
        var data = await _operation.saveOrUpdateOrDeleteUser<MedicineDetails>(med,delete:true);
        _toastService.ShowError("test");
        currentCount++;
    }
}
