@using MedicinShopUI.Components.Pages
@using System.Text.Json
@using ModelClasses
@inherits LayoutComponentBase


<NavMenu />
<div class="home-section">
    @Body
    <!-- Layout page -->
    @* <div class="layout-page">

                <div class="content-wrapper">

                    <div class="container-xxl">

                        <div>
                            <div>



                            </div>
                        </div>

                    </div>
                </div>
            </div> *@
</div>
<SideMenu />