@using VaiVaiPharmacy.UI.Components.Pages.Component
@using VaiVaiPharmacy.UI.Models
@using Licence

<div class="row">
    <div class="col-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="content">
                    <div class="col-12">
                        @if (status == 1)
                        {
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <div class="multicolor-blink">@LicenceMsg</div>
                            </div>                            
                        }
                        <div class="row">
                            <div class="row col-3">
                                @((MarkupString)autherDetails.Image)
                            </div>
                            <div class="col-md-8 row">
                                <TableViewComponent DataList="generalData"></TableViewComponent>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    AutherDetails autherDetails = new AutherDetails();
    [Parameter]
    public int status { get; set; } = 0;
    string LicenceMsg = "";
    private List<GeneralData> generalData = new List<GeneralData>();

    protected override async Task OnInitializedAsync()
    {
        LicenceCheck obj = new LicenceCheck();
        int remainDays = obj.remainLicenceDate();
        
        if (remainDays <= 0)
        {
            LicenceMsg = "Licence is Expire !! Renew As Soon As Posible";
        }
        else { 
            LicenceMsg = "Licence Expire within " + remainDays + " day(s)"; 
        }
        autherDetails = obj.getAuthorDetails();
        generalData.Add(new GeneralData { text = "Auther Name :", value = autherDetails.Name });
        generalData.Add(new GeneralData { text = "Auther Phone :", value = autherDetails.Phone });
        generalData.Add(new GeneralData { text = "Auther Email :", value = autherDetails.Email });
    }
}
